# Operators in python

In [2]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

* Note that data is printed in dataframe not markdown format, so you can also perform operations

In [7]:
table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

In [8]:
a : int = 5
b : int = 6
print(a > b)

False

In [9]:
a : str = 'A'
b : str = 'B'
print(a < b)

True

* ASSCII Code

In [ ]:
# A = 65
# Z = 90
# a = 97
# b = 122
# 0 = 48
# 9 = 57

In [11]:
ord('a')

97

In [12]:
chr(88)

'X'

In [13]:
name = 'wasim'
print(not (name == 'wasim'))

False

In [15]:
x : int = 123
z : int = 123
print(id(x))
print(id(z))

x is not z

4331782536
4331782536

False

In [18]:
names : list[str] = ([chr(i) for i in range(65, 91)])
names
'D' in names

True

* is 
* not
    * these are used to make comparisons on memory level
* =
* !=
    * these are used to make comparisons on values

In [19]:
names : list[str] = ['wasim', 'ali', 'usman']
my_name : str = input('Enter your name: ')
my_name in names

False

# Underscore is treated as numbers

In [20]:
print(23_000_000)

23000000

# Zip and Unzip

In [22]:
a, b, c = 1, 3, 5
print(b)

3

In [4]:
'qasim', 2

('qasim', 2, False)

# List and tupple are iterative data types. Also see power of python

In [24]:
data = ('a', 3, 56)
print(*data)

a 3 56

# Walrus Operator and it's use

# Revision

In [4]:
import pandas as pd
data = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
data[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [9]:
ord('Z')

90

In [10]:
data : list[str] = [chr(x) for x in range(65,90)]
data

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']