# List Comprehensive, Lists and Loops
* Apply operation on an iterative element

In [2]:
names : list[str] = ['wasim', 'usman', 'ali']
print(names)

['wasim', 'usman', 'ali']

# Enumuration return index with value and returns as tuple

In [40]:
print(enumerate(names))

<enumerate object at 0x111c8fe20>

In [39]:
list(enumerate(names))

[(0, 'wasim'), (1, 'usman'), (2, 'ali')]

In [41]:
for index, name in enumerate(names):
    print(index, name)

0 wasim
1 usman
2 ali

# Traditional Loop

In [11]:
i:int = 0
while i<len(names):
    print(names[i])
    i += 1

wasim
usman
ali

# Modern Way

In [31]:
for name in names:
    print(name)
else:
    print('Execute else after complete loop execution')

print(name) # last of loop becomes and is accessible outside loop.

wasim
usman
ali
Execute else after complete loop execution
ali

In [29]:
for name in names:
    print(name)
    break
else:
    print('Not execute else if break')

wasim

In [30]:
for name in names:
    print(name)
    break
print('Default, it will always execute even if loop break or complete')

wasim
Default, it will always execute even if loop break or complete

In [13]:
for name in names[-3:-1]:
    print(name)

wasim
usman

In [14]:
for name in names[::-1]:
    print(name)

ali
usman
wasim

In [15]:
users : list[tuple[str, str]] = [('wasim', '123'), ('usman', '432'), ('qasim', '444')]
for user in users:
    print(user)

('wasim', '123')
('usman', '432')
('qasim', '444')

In [18]:
for user in users:
    name, password = user
    print(name, password)

wasim 123
usman 432
qasim 444

In [21]:
user_name = input('Enter Name')
user_pass = input('Enter Pass')
for user in users:
    name, password = user
    if (user_name == name and user_pass == password):
        print('valid user')
        break
else:
    print('invalid user')

Enter Name wasim
Enter Pass 123

valid user

# Numbers with loop
`range(start, end, step)`

In [32]:
range(10) # start with 0 and ends at n-1

range(0, 10)

In [33]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
for i in range(1,11):
    print(f"{i} * 2 = {i*2}")

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

# Comprehensive Style
* move loop body to the start of the loop

In [69]:
[i**2 for i in range(1,11)]
# no need to add print in jupyter but VSCode

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Shallow copy vs Deep copy

In [72]:
a : list[int] = [1,2,3]
b = a[:] # Slicing always perform deep copy
b[1] = 4
print(a)
print(b)

[1, 2, 3]
[1, 4, 3]

# Tuple (immuatable)

In [73]:
a : tuple[int] = (1, 2, 4)
print(a)

(1, 2, 4)

In [75]:
print(a[1])

2

In [76]:
# cannot be assigned a new value. Instead we have to re-initialize if we want to update
a : tuple[int] = (3,5, 4)
print(a)

(3, 5, 4)

In [77]:
# 0 index can never be updated in tuple
from typing import Any
data : tuple[Any] = (1, [2,3,5], 'pakistan')
print(data)

(1, [2, 3, 5], 'pakistan')

In [78]:
data[1].append(4)
print(data)

(1, [2, 3, 5, 4], 'pakistan')

In [7]:
data : list[int] = [1,2,3]
data.append(1)
data

data
data.extend([2, 33])
data

[1, 2, 3, 1, 2, 33]