# Loop and User Input
# for
# while
# Loop Controls
* break
* pass
* Continue
# Input with input functions
# Input from console
# Loop on iterative datatypes
* list
* tuple
* string
* dictionary
* set

In [37]:
list_data : list[int] = [0, 1, 2, 3]
for i in list_data:
    print(i)

new_list_data : [int, str, dict] = [0, 'pakistan', {'name': 'wasim'}]
print(new_list_data)

0
1
2
3
[0, 'pakistan', {'name': 'wasim'}]

In [35]:
tuple_data : tuple[int, str, int, str] = (0, 'pakistan', 2, 'india')
for i in tuple_data:
    print(i)

0
pakistan
2
india

In [3]:
# string is immutable and an specific value cannot be updated in string
string_data : str = 'pakistan'
for i in string_data:
    print(i)

p
a
k
i
s
t
a
n

In [39]:
# iteration performs on keys in case of dictionary
dictionary_data : dict[str, str] = {'name' : 'pakistan', 'code' : 'pk'}
for i in dictionary_data:
    print(f'value against {i} is {dictionary_data[i]}')

value against name is pakistan
value against code is pk

In [45]:
# key value for loop works only with tuple
data : list[tuple('str')] = [('name', 'wasim'), ('name', 'usman')]

for i, v in data:
    print(i, v)

name wasim
name usman

In [18]:
set_data : set[int] = {1, 2, 3, 3, 2, 5}
print(set_data)
for i in set_data:
    print(i)

{1, 2, 3, 5}
1
2
3
5

In [25]:
# zip function
names = ['pakistan', 'india', 'america']
grade = [1, 2, 4]
code = ['pk', 'ind', 'us']

print(list(zip(names, grade, code)))

# Corrected zip with 'names'
for name, grd, cd in zip(names, grade, code):
    print(f'name is {name}, grade is {grd}, and code is {cd}')

[('pakistan', 1, 'pk'), ('india', 2, 'ind'), ('america', 4, 'us')]
name is pakistan, grade is 1, and code is pk
name is india, grade is 2, and code is ind
name is america, grade is 4, and code is us

In [47]:
import pandas as pd

names = ['pakistan', 'india', 'america']
grade = [1, 2, 4]
code = ['pk', 'ind', 'us']

data : pd.DataFrame = pd.DataFrame({
    'names' : names,
    'grade' : grade,
    'code' : code
})
data

      names  grade code
0  pakistan      1   pk
1     india      2  ind
2   america      4   us

In [32]:
# while loop

index : int = 1
while index <= 5:
    print(index)
    index += 1

1
2
3
4
5

In [52]:
data : list[int] = [1, 2, 3, 4]
i : int = 0
while i < len(data):
    print(data[i])
    i += 1

1
2
3
4

In [6]:
#input break system
my_data: list[dict[str, str]] = []

while True:
    name: str = input('Your name is: ')
    grade: str = input('Your grade is: ')
    
    if name in ['quit', 'skip', 'exit'] or grade in ['quit', 'skip', 'exit']:
        break
    
    my_data.append({'name': name, 'grade': grade})

print(my_data)

[{'name': 'ali', 'grade': 'ali'}, {'name': 'ali', 'grade': 'das'}]

In [13]:
my_range = range(1, 11)

for i in my_range:
    if i == 4:
        continue
    print(f'2 X {i} = {2*i}')

print('\n')

for i in my_range:
    if i == 4:
        break
    print(f'2 X {i} = {2*i}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


2 X 1 = 2
2 X 2 = 4
2 X 3 = 6

In [16]:
# if we don't want to generate an error or have plan to write logic later, we use pass

def myFunction(a : int, b : int, c : int) -> int:
    pass

print('hello world')

myFunction(1,2,3)

hello world